
<div class="card" style="width: 30rem;">
  <div class="card-body">

    <form [formGroup]="pollForm" (ngSubmit)="onSubmit(pollForm.value)"> <!--<form> element in our component's template and we use [formGroup]to bind
      our FormGroup and formControlName directive to bind FormControl elements to HTML form controls-->
         <div>
             <label id="label1" for="question">
                 Question:
             </label>
             <input required minlength="10" #question class="firstinput" id="question" type="text" formControlName="question">
         </div>
     
       <div formArrayName="options">
     
         <div *ngFor="let address of options().controls;  let i=index" [formGroupName]="i"> <!--NgFor is a built-in template directive that makes it easy to iterate
         over something like an array or an object and create a template for each item-->
     
           <label id="optionlabel"> <!--we use the formControlName property to bind the <input> tags to individual form controls.-->
             <p id= option>Option #{{i+1}}: </p><input [id]="i" type="text" formControlName= "value"> <!--we will input whatever the person inserts as the id..-->
           </label>
           
           <button  id="removeoptions" class="btn btn-info btn-sm" [disabled]="options().length <= 2" (click)="removeOption(i);" >Remove option</button>
         </div>
         <button id="addanother" type="button" class="btn btn-info" *ngIf="options().length <= 5" (click)="addOption()" >Add another Option </button>    <!--Strictly needs to be no more than 6 options-->
       </div>
       <button  id="createbutton" [disabled]="(pollForm.get('question').value == null || pollForm.get('question').value == '') || options().length < 2 || checkIfOptionsNull()" class="button" class="btn btn-info" type="submit">Create Poll</button>
     
     </form>
 
  </div>
</div>
