#label1{
    font-weight: bold;
    font-size: larger;
}
#option{
    margin-bottom: 5px;
    font-weight: bold;
}
#createbutton{
    margin-top: 10px;
}
#removeoptions{
    margin-left: 7px;
}
#addanother{
    margin-top: 20px;
}
.firstinput {
    margin-bottom: 30px;
    width: 430px;
}


