li{
    list-style-type: none;
}
#results{
    margin: 20px;
}
button{
    text-align: center;
    font-family: 'Anton', sans-serif;
  margin-left: 20px;
}
#resultsarray{
    text-align: center;
}
span{
    font-weight: bold;
}
h5{
    font-weight: bold;
}
