
<div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">Question:</h5>
      <p>{{poll?.question}}</p>


      <div id="results">
        <button (click)="totalResults(); this.disabled=true;" [disabled]="this.disabled" type="button" class="btn btn-info">Click here for poll results!</button>
      </div>


      <div id="resultsarray" *ngIf="resultsArray">

        <li *ngFor="let currentResult of resultsArray">
            <p>
                {{currentResult}}
            </p>
        </li>


        <div *ngIf="resultsReady">
            <p><span>Total Votes:</span> {{result?.totalVotes}}</p>
        </div>
    </div>

</div>


</div>

