.card-title{
    margin-bottom: 20px;
}
.btn{
    font-family: 'Anton', sans-serif;
}
h5{
    font-weight: bold;
}
input{
    margin-right: 10px;
}
span{
    font-weight: bold;
}
#yourvote{
    margin-top: 0px;
}
.fourohfour{
  text-align: center;
  color: red;
}
