<p class="fourohfour" *ngIf="!poll">This Poll does not exist. Please check the URL.</p>
<!-- <div *ngIf="poll"> -->

<div class="card" style="width: 20rem;">
  <div class="card-body">
    <h5 class="card-title">Question: </h5>
    <p>{{poll.question}}</p>

    <div *ngIf="poll">
    <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">

      <div *ngFor="let option of poll.options; index as i" [attr.data-index]="i">
        <input type="radio" [value]="poll.options[i].value" *ngIf="poll.options[i]" formControlName="vote">
        <label [attr.for]="poll.options[i]" *ngIf="poll.options[i]">{{poll.options[i].value}}</label><br>
      </div>

      <p *ngIf="pollForm.get('vote').value"><span>Your vote:</span> {{pollForm.get("vote").value}}</p>

      <button type="submit" class="btn btn-info">Submit</button>
    </form>


      <p>{{validMessage}}</p>

  </div>
</div>
</div>
