
a:hover, a:focus{
    text-decoration: none;
	color: rgb(46, 175, 192);
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}
a{
    font-family: 'Anton', sans-serif;
    color: black;

}
#title{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}


